
<header>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />



<center>
        <a class="button button-primary" href="/items/">Home Page</a>
        
            
        <a class="button button-primary" href="/items/new">Add Item Page</a>
        
 </center>       
        
        
        
        
<br><br><br>


</header>



