
<header>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />




    <button>
        <a input type="button" class="button button-primary" href="/items/">Home Page</a>
        
        </button>
            
        <button>
        <a class="button button-primary" href="/items/new">Add Item Page</a>
        </button>
        
        
        
        
        
        
<br><br><br>


</header>



