<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item Page</title>
</head>
<body>     
    <%- include('partials/header.ejs') %>

    <br><br><br>


<main>
    <form action="/items" method="post" width= "90vh"><br>
        Item: <input width= "110px" type="text" name="item"  maxlength="22"><br>
        Description: <input width= "110px" type="description" maxlength="800" name="description"><br>
        Image: <input width= "110px" type="url" name="image"></a><br>
        Price: <input width= "110px" type="number" name="price" maxlength="6"><br>
        Email: <input width= "110px" type="email" name="email" maxlength="80"><br>
        Phone: <input width= "110px" type="tel" name="phone"  placeholder="123-245-678" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" ><br>
        Seller's name: <input width= "110px" type="text" name="seller" maxlength="10"><br>
        <input type="submit" value="Add New Item">
    </form>




    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>