<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item Page</title>
</head>
<body>     
    <%- include('partials/header.ejs') %>

    <h1>New Item Page</h1>
    <form action="/items" method="post"><br>
        Item: <input type="text" name="item"><br>
        Brand: <input type="text" name="brand"><br>
        Description: <input type="text" name="description"><br>
        Image: <input type="file" href="item.item"></a><br>
        Sold: <input type="checkbox" name="sold"><br>
        Quantity: <input type="number" name="quantity"><br>
        price: <input type="number" name="price"><br>
        email: <input type="text" name="email"><br>
        phone: <input type="text" name="phone"><br>
        seller's name: <input type="text" name="seller"><br>
        <input type="submit" value="Add Item">
    </form>

    <%- include('partials/footer.ejs') %>
</body>
</html>