body {
  
    height: 100vh;
    width: 100vh;
    margin: 5px;
    display: grid;
    grid-template-rows: 50px 90px auto 100px;
    flex-wrap: wrap;
    grid-template-columns: 4fr 4fr;
    grid-template-areas: 
  "hdr" 
  "grid" 
  "ftr" 
     
  }
  
  
  .container {
    display: flex;
    flex-wrap: auto;
    align-items:flex-start;
    columns: repeat(auto-fit, minmax(300px, 1fr) 150px);
    column-gap: 15px;
    max-height: 100%;
    align-items: flex-start;
    max-width:90vh;
    grid-template-columns: repeat(auto - fit, minmax(100 px, 1 fr));
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
  }